/********************************** Globals **********************************/
:root
{
    --color-bg1: rgb(0, 0, 0);
    --color-bg2: rgb(32, 32, 32);
    --color-bg3: rgb(48, 48, 48);
    --color-bg4: rgb(64, 64, 64);
    --color-table1: rgb(24, 24, 24);
    --color-table2: rgb(20, 20, 20);
    --color-table3: rgb(32, 32, 32);
    --color-text1: rgb(225, 225, 255);
    --color-text2: rgb(180, 180, 180);
    --color-acc1: rgb(153, 217, 234);
    --color-acc2: rgb(104, 133, 232);
    --color-acc3: rgb(0, 190, 225);
    --color-acc4: rgb(255, 110, 110);
    --color-expense1: rgb(255, 206, 95);
    --color-expense2: rgb(255, 238, 198);
    --color-expense3: rgb(155, 138, 98);
    --color-income1: rgb(0, 215, 0);
    --color-income2: rgb(190, 241, 191);
    --color-income3: rgb(90, 141, 91);
    --font1: "Ubuntu", "Arial", "Consolas", "FreeMono", "Courier New", Courier, monospace
}

/********************************** Colors ***********************************/
.color-bg1
{ background-color: var(--color-bg1); }

.color-bg2
{ background-color: var(--color-bg2); }

.color-bg3
{ background-color: var(--color-bg3); }

.color-bg4
{ background-color: var(--color-bg4); }

.color-text1
{ color: var(--color-text1); }

.color-text2
{ color: var(--color-text2); }

.color-acc1
{ color: var(--color-acc1); }

.color-acc2
{ color: var(--color-acc2); }

.color-acc3
{ color: var(--color-acc3); }

.color-acc4
{ color: var(--color-acc4); }

.color-income1
{ color: var(--color-income1); }

.color-income2
{ color: var(--color-income2); }

.color-income3
{ color: var(--color-income3); }

.color-expense1
{ color: var(--color-expense1); }

.color-expense2
{ color: var(--color-expense2); }

.color-expense3
{ color: var(--color-expense3); }


/*********************************** Misc. ***********************************/
.body-container
{
    max-width: 1600px;
    margin: auto;
}


/*********************************** Fonts ***********************************/
.font-main
{
    font-family: var(--font1);
}

@font-face
{
    font-family: Ubuntu;
    src: url("ubuntu.ttf") format("truetype");
}

/********************************** Inputs ***********************************/
.input-container
{
    max-width: 750px;
}

.input-main
{
    font-family: var(--font1);
    background-color: var(--color-bg1);
    color: var(--color-text1);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-acc1);
    padding: 8px;
    margin: 8px;
    width: 100%;
}

.input-main:focus
{
    background-color: var(--color-bg1);
    color: var(--color-text1);
    outline: none;
}

.dropdown-main
{
    font-family: var(--font1);
    background-color: var(--color-bg1);
    color: var(--color-text1);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-acc1);
    padding: 8px;
    margin: 8px;
    width: 100%;
}

.dropdown-main:focus
{
    outline: none;
}

.checkbox-main
{
    background-color: var(--color-bg2);
    padding: 8px;
    margin: 8px;
}

.checkbox-label-main
{
    font-family: var(--font1);
    background-color: var(--color-bg1);
}

/********************************* Buttons ***********************************/
button
{
    /* disable mobile blue-highlight when clicking buttons */
    -webkit-tap-highlight-color: transparent;
}

.button-container
{
    margin-bottom: 4px;
}

.button-main
{
    background-color: var(--color-bg2);
    color: var(--color-text1);
    /*color: var(--color-acc1);*/
    cursor: pointer;
    padding: 12px;
    margin: 8px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font1);
    border-radius: 4px;
}

.button-main:hover:enabled
{
    background-color: var(--color-bg3);
}

.button-main:focus
{
    outline: none;
    box-shadow: none;
}

.button-main:disabled
{
    color: var(--color-bg4);
}

.button-light
{
    background-color: var(--color-bg3);
    color: var(--color-text1);
}

.button-light:hover:enabled
{
    background-color: var(--color-bg4);
}

.button-light:focus
{
    outline: none;
    box-shadow: none;
}

/******************************* Collapsibles ********************************/
.collapsible-button
{
    background-color: var(--color-bg2);
    /*color: var(--color-acc1);*/
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.active, .collapsible-button:hover
{
    background-color: var(--color-bg3);
}

.collapsible-button-indicator
{
    float: right;
    font-weight: normal;
}

.collapsible-content
{
    padding: 0 16px;
    display: none;
    overflow: hidden;
    background-color: var(--color-bg2);
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


/********************************** Tables ***********************************/
.ttable-container
{
    padding: 2px;
    padding-bottom: 8px;
    margin: 2px;
    margin-bottom: 8px;
}

.ttable
{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

.ttable-row
{
    background-color: var(--color-table1);
}

.ttable-transaction-row
{
    background-color: var(--color-table2);
}

.ttable-transaction-row:hover
{
    cursor: pointer;
    background-color: var(--color-table3);
    -webkit-tap-highlight-color: transparent;
}

.ttable-header
{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}

.ttable-cell
{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}


/********************************** Charts ***********************************/
.chart-container
{
    padding: 8px;
    margin: 8px;
}

.chart-main
{
    margin-bottom: 8px;
    width: 90%;
    color: var(--color-text1);
    border: 1px solid var(--color-text2);
    background-color: var(--color-bg3);
}


/****************************** Mobile Screens *******************************/
/* https://stackoverflow.com/questions/42025632/how-to-detect-only-with-css-mobile-screens */
@media only screen and (hover: none) and (pointer: coarse)
{
    h1
    { font-size: 80px; }
    h2
    { font-size: 76px; }
    h3
    { font-size: 72px; }
    h4
    { font-size: 68px; }
    h5
    { font-size: 64px; }
    h6
    { font-size: 60px; }

    p
    {
        font-size: 36px;
    }

    .input-container
    {
        max-width: 1250px;
    }

    .input-main
    {
        font-size: 36px;
        padding: 12px;
        margin: 12px;
    }

    .dropdown-main
    {
        font-size: 36px;
        padding: 12px;
        margin: 12px;
    }

    .checkbox-main
    {
        font-size: 36px;
        width: 24px;
        height: 24px;
        padding: 20px;
        margin: 20px;
    }
    
    .checkbox-label-main
    {
        font-size: 36px;
    }
   
    .button-main
    {
        padding: 32px;
        font-size: 32px;
        margin: 16px;
        border-radius: 8px;
    }

    .collapsible-button
    {
        padding: 32px;
        width: 100%;
        font-size: 48px;
        margin-top: 16px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    
    .collapsible-content
    {
        padding: 0 32px;
        font-size: 40px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .ttable
    {
        font-size: 32px;
    }

    .ttable-header
    {
        padding: 16px;
        font-size: 30px;
    }

    .ttable-cell
    {
        padding: 16px;
        font-size: 30px;
    }
}
