/********************************** Globals **********************************/
:root
{
    --color-bg1: rgb(0, 0, 0);
    --color-bg2: rgb(32, 32, 32);
    --color-bg3: rgb(48, 48, 48);
    --color-text1: rgb(225, 225, 255);
    --color-acc1: rgb(153, 217, 234);
    --color-acc2: rgb(104, 133, 232);
    --color-acc3: rgb(0, 190, 225);
    --font1: "Consolas", "Courier New", Courier, monospace
}

/********************************** Colors ***********************************/
.color-bg1
{
    background-color: var(--color-bg1);
}

.color-bg2
{
    background-color: var(--color-bg2);
}

.color-text1
{
    color: var(--color-text1);
}

.color-acc1
{
    color: var(--color-acc1);
}

.color-acc2
{
    color: var(--color-acc2);
}

.color-acc3
{
    color: var(--color-acc3);
}

/*********************************** Fonts ***********************************/
.font-main
{
    font-family: var(--font1);
}

/********************************** Buttons **********************************/
.button-main
{
    background-color: var(--color-bg2);
    color: var(--color-text2);
    border-color: var(--color-bg3);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
}

.button-toggle
{
    background-color: var(--color-bg2);
    color: var(--color-text2);
    border-color: var(--color-bg3);
    font-family: var(--font1);
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 2px;
}

.button-color
{
    background-color: var(--color-bg2);
    color: var(--color-text2);
    border-color: var(--color-bg3);
    font-family: var(--font1);
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 2px;
    height: 75px;
}

.button-brightness
{
    background-color: var(--color-bg2);
    color: var(--color-text2);
    border-color: var(--color-bg3);
    font-family: var(--font1);
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 2px;
    height: 75px;
}

.button-shortcut
{
    background-color: var(--color-bg2);
    color: var(--color-text2);
    border-color: var(--color-bg3);
    font-family: var(--font1);
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 2px;
}

/******************************* Input Fields ********************************/
.input-text
{
    font-size: 16px;
    margin: 2px;
}


/******************************* Collapsibles ********************************/
.collapsible-button
{
    background-color: var(--color-bg2);
    color: var(--color-acc1);
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.active, .collapsible-button:hover
{
    background-color: var(--color-bg3);
}

.collapsible-button-indicator
{
    float: right;
}

.collapsible-content
{
    padding: 0 16px;
    display: none;
    overflow: hidden;
    background-color: var(--color-bg2);
    font-size: 16px;
}

/****************************** Mobile Screens *******************************/
/* https://stackoverflow.com/questions/42025632/how-to-detect-only-with-css-mobile-screens */
@media only screen and (hover: none) and (pointer: coarse)
{
    h1, h2, h3, h4, h5, h6
    {
        font-size: 56px;
    }

    p
    {
        font-size: 40px;
    }

    .button-main
    {
        font-size: 48px;
        margin: 8px;
    }

    .button-toggle
    {
        width: 50%;
        height: 150px;
        border-width: 8px;
        font-size: 48px;
        margin: 8px;
    }

    .button-color
    {
        width: 100%;
        height: 150px;
        border-width: 8px;
        font-size: 48px;
        margin: 8px;
    }

    .button-brightness
    {
        width: 100%;
        height: 150px;
        border-width: 8px;
        font-size: 48px;
        margin: 8px;
    }

    .button-shortcut
    {
        font-size: 48px;
        margin: 8px;
        border-width: 8px;
        width: 100%;
        height: 150px;
    }

    .input-text
    {
        font-size: 40px;
        margin: 8px;
    }

    .input-color
    {
        width: 100%;
        height: 150px;
        margin: 8px;
    }

    .input-slider
    {
        width: 100%;
        height: 150px;
        margin: 8px;
        border-radius: 16px;
    }

    .dropdown
    {
        font-size: 48px;
        padding: 8px;
        margin: 8px;
    }
    
    .div-button-shortcut-container
    {
        margin: 4px;
        padding: 4px;
        display: block;
        justify-content: flex-start;
    }
    
    .collapsible-button
    {
        padding: 32px;
        width: 100%;
        font-size: 48px;
        margin-top: 16px;
    }
    
    .collapsible-content
    {
        padding: 0 32px;
        font-size: 40px;
    }
}
